html
  head
    style
      include style.css
    title= 'Express/NodeJS/Pug application'
  body
    h1= "Alexander's blog posts"
    .red
      h2= title
      h3= content
      p= id
    h4.blackandwhite= packet